
 
body{
  background: #000;
}

  .container{
    height:530px; 
    width: 900px;
    position:relative;
    overflow: hidden;
    
}
.wrapper{
    width:960px;
    display: flex;
    animation: slide 10s infinite;
}
@keyframes slide{
  0%{
    transform: translateX(0);
}
25%{
    transform: translateX(0);
}
30%{
    transform: translateX(-100%);
}
50%{
    transform: translateX(-100%);
}
55%{
    transform: translateX(-200%);
}
75%{
    transform: translateX(-200%);
}
80%{
    transform: translateX(-300%);
}
100%{
    transform: translateX(-300%);
}
}
   
