img{
    height: 200px;
    width: 200px;
}
.color_title
{
font-weight: normal;
}

#red
{
    color: red;
}
#orange
{
    color: orange;
}
#green
{
    color: green;
}
#yellow
{
    color: yellow;
}
#blue
{
    color: blue;
}
